<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title></title>
</head>
<body>
    <div class="container">
        <h1>Hi me :D</h1>
        <table class="table table-hover">
            <thead>
                <th>ID</th>
                <th>Remove</th>
            </thead>
            <tbody>
                {% for t in Requested %}
                <tr>
                    <td>{{ t }}</td>
                    <td><a href="/ADMIN/{{t}}" class="btn btn-success" role="button">Add</a></td>
                </tr>
                {% endfor %}
                {% for t in Allowed %}
                <tr>
                    <td>{{ t }}</td>
                    <td><a href="/ADMIN/{{t}}" class="btn btn-danger" role="button">remove</a></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</body>
<!-- boootstraaaap-->
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">

<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
</html>